<app-navbar></app-navbar>
<body>
    <!-- Tittle Cars-->
    <div class="container pt-5">
        <h2> Carros </h2>
    </div>
    <div class="container pt-2 d-flex">
        <div class="px-2">
            <!-- Tarjets of Cars Fuctions-->
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Agregar Registro</h5>
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-primary" routerLink="/addCar">Ir Al Formulario</a>
                </div>
            </div>
        </div>
        <div class="px-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Listar Registros de Carros</h5>
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-primary" routerLink="/listCars">Ir a la LIsta</a>
                </div>
            </div>
        </div>     
    </div>

    <!-- Tittle Users-->
    <div class="container pt-5">
        <h2> Usuarios </h2>
    </div>
    <div class="container pt-2 d-flex">
        <div class="px-2">
            <!-- Tarjets of Users Fuctions-->
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Agregar Registro</h5>
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-primary" routerLink="/registerUser">Ir Al Formulario</a>
                </div>
            </div>
        </div>
        <div class="px-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Listar Registros de Usuarios</h5>
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-primary" routerLink="/listUsers">Ir a la LIsta</a>
                </div>
            </div>
        </div>     
    </div>

</body>
